/* This is a practice css sheet for the Worksheet*/


body {

  background-image: url(background4.jpg);
  min-height: 100%;
  position: relative;
  opacity: .85;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
/* h1 header comment */
#h1header {
  font-size: 60px;
  color: #e6f2e9;
  background-color: #878787;
  margin: 0;
  text-align: center;
}

.h1paragraph {
    color: gray;
    font-size: 20px;
    text-align: center;
  }

/* h2 header comment*/
#h2header {
  font-size: 40px;
  color: #e6f2e9;
  margin: 0;
  text-align: center;
}

.h2paragraph {
  color: gray;
  font-size: 20px;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
}
